<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <img src="../../../assets/img/logoBlanco.png" width="200" alt="" />
          <ul class="list-unstyled mb-0 mt-4">
            <li>
              <a
                href="https://wa.me/+51958035830"
                class="text-white text-decoration-none"
                ><i class="fa-brands fa-whatsapp"></i> 958 035 930</a
              >
            </li>
            <li>
              <a
                href="mailto:hola@helpforthem.org"
                class="text-white text-decoration-none"
                ><i class="fa-solid fa-envelope"></i> hola@helpforthem.org</a
              >
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mt-5">
          <h5>Mapa de Sitio</h5>

          <ul class="list-unstyled mb-0">
            <a class="text-white text-decoration-none" href="abuelitos"
              ><li>Historias</li></a
            >
            <a class="text-white text-decoration-none" href="nosotros"
              ><li>¿Quiénes somos?</li></a
            >
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mt-3">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Instagram -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-youtube"></i
            ></a>

            <!-- Github -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-tiktok"></i
            ></a>
          </section>
          <!-- Section: Social media -->
          <!-- Section: Contacto -->
          <section class="mb-4">
            <a class="btn btn-light" href="contacto">Contáctanos</a>
          </section>
          <!-- Section: Contacto -->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Help for them - Todos los derechos reservados
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
