<div class="container">
  <h2 class="mt-5">Ellos te necesitan</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 my-5">
    <!-- spinner -->
    <div *ngIf="loading">
      <app-spinner></app-spinner>
    </div>
    <!-- error -->
    <div *ngIf="!loading && errorMessage">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ABUELITO 1 -->
    <div *ngIf="!loading && abuelitos.length > 0">
      <div class="row g-3">
        <div *ngFor="let abue of abuelitos" class="col">
          <div class="card shadow">
            <img [src]="abue.foto" class="card-img-top" alt="abuelito" />
            <div class="card-body">
              <p class="card-text">
                <strong>Nombre: </strong>{{ abue.nombre }}
              </p>
              <p class="card-text"><strong>Edad: </strong> {{ abue.edad }}</p>
              <p class="card-text">
                <strong>Ciudad: </strong> {{ abue.ciudad }}
              </p>
              <a routerLink="/abuelito/{{ abue.id }}" class="card-link"
                ><strong>Saber más ▸</strong></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
