<div class="container">
  <div class="row">
    <h2 class="mt-5 col">Administrador</h2>
    <div class="col align-self-center d-flex flex-row-reverse mt-4">
      <a class="btn btn-success px-3 p-2" routerLink="/abuelito/add"
        >¡Conocí a un abuelito! <i class="fas fa-person-cane"></i
      ></a>
    </div>
  </div>
  <!-- <pre>{{ abuelitos | json }}</pre> -->
  <!-- spinner -->
  <div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <!-- error -->
  <div *ngIf="!loading && errorMessage">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- abuelitos -->
  <div
    *ngIf="!loading && abuelitos.length > 0"
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5"
  >
    <div *ngFor="let abue of abuelitos" class="col mb-5">
      <div class="card shadow">
        <img [src]="abue.foto" class="card-img-top" alt="abuelito" />
        <div class="card-body">
          <p class="card-text"><strong>Nombre: </strong>{{ abue.nombre }}</p>
          <p class="card-text"><strong>Edad: </strong>{{ abue.edad }}</p>
          <p class="card-text"><strong>Ciudad: </strong> {{ abue.ciudad }}</p>
          <div class="d-flex justify-content-around">
            <a class="btn btn-primary" routerLink="/abuelito/edit/{{ abue.id }}"
              ><i class="fas fa-pencil"></i
            ></a>
            <a class="btn btn-warning" routerLink="/abuelito/{{ abue.id }}"
              ><i class="fas fa-eye"></i
            ></a>
            <button class="btn btn-danger">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
