<div class="row principal">
  <div class="col-4 text">
    <h1>Ayuda a los abuelitos, ellos nos necesitan</h1>
    <p>
      Creemos que con un trabajo transparente y eficaz, como el que realizamos,
      estas cifras se pueden reducir y más personas pueden alimentarse con los
      nutrientes necesarios.
    </p>
    <a href="abuelitos"><button>Ayudar</button></a>
  </div>
  <img class="imgBackground" src="../../../assets/img/background.png" alt="" />
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 box">
      <a href="viveres"><i class="fa-solid fa-basket-shopping"></i></a>
      <h3>Víveres</h3>
      <p>
        Colabora donando víveres de dos formas, en nuestros centros de acopio o
        dejándonos tu dirección.
      </p>
    </div>
    <div class="col-md-3 box">
      <a href="abuelitos"><i class="fa-solid fa-hand-holding-hand"></i></a>
      <h3>Apadrina</h3>
      <p>Sé el nieto favorito de alguno de los abuelitos.</p>
    </div>
    <div class="col-md-3 box">
      <a href="medicinas"><i class="fa-solid fa-capsules"></i></a>
      <h3>Medicinas</h3>
      <p>
        Si cuentas con medicinas puedes realizar tu donación aquí. También
        puedes donar pañales o suplementos.
      </p>
    </div>
    <div class="col-md-3 box">
      <a href="campana"><i class="fa-solid fa-bullhorn"></i></a>
      <h3>Campañas</h3>
      <p>Conoce y publica las últimas campañas de salud gratuitas.</p>
    </div>
  </div>
</div>
<div class="seccion">
  <div class="container">
    <div
      class="row row-cols-1 row-cols-md-2 row-cols-sm-2 align-items-center g-5"
    >
      <div class="col">
        <img
          src="../../../assets/img/imagen1.png"
          style="width: 100%"
          alt="abuelitos"
        />
      </div>
      <div class="col quePodemosHacer">
        <h2>¿Qué podemos hacer con tu ayuda?</h2>
        <p>
          <strong
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
            alias?</strong
          >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, id!
        </p>
        <a href="donar"><button>Colabora</button></a>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <h2>Conoce sus historias</h2>
  <!-- <div class="container"> -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3 mb-5">
    <!-- ABUELITO 1 -->
    <div class="col">
      <div class="card shadow">
        <img
          src="../../../assets/img/abuelito.jpg"
          class="card-img-top"
          alt="abuelito"
        />
        <div class="card-body">
          <p class="card-text">
            <strong>Nombre: </strong>Juan Antonio Mercedes Aguilera
          </p>
          <p class="card-text"><strong>Edad: </strong> 78 años</p>
          <p class="card-text"><strong>Ciudad: </strong> Lima</p>
          <a href="#" class="card-link"><strong>Saber más ▸</strong></a>
        </div>
      </div>
    </div>

    <!-- ABUELITO 2 -->
    <div class="col">
      <div class="card shadow">
        <img
          src="../../../assets/img/anciano2.jpg"
          class="card-img-top"
          alt="abuelito"
        />
        <div class="card-body">
          <p><strong>Nombre: </strong>Brigit Huamán García</p>
          <p><strong>Edad: </strong> 75 años</p>
          <p><strong>Ciudad: </strong> Pasco</p>
          <a href="#" class="card-link"><strong>Saber más ▸</strong></a>
        </div>
      </div>
    </div>
    <!-- ABUELITO 3 -->
    <div class="col">
      <div class="card shadow">
        <img
          src="../../../assets/img/anciano1.jpg"
          class="card-img-top"
          alt="abuelito"
        />
        <div class="card-body">
          <p><strong>Nombre: </strong>Liliana Quispe Fernández</p>
          <p><strong>Edad: </strong> 80 años</p>
          <p><strong>Ciudad: </strong> Ayacucho</p>
          <a href="#" class="card-link"><strong>Saber más ▸</strong></a>
        </div>
      </div>
    </div>
    <!-- fin abues -->
    <a href="abuelitos" class="card-link mt-4"
      ><strong>Ver más abuelitos ▸</strong></a
    >
  </div>
  <!-- </div>   -->
</div>
