<div>
  <section class="jumbotron text-center mt-4">
    <div class="container">
      <h1 class="jumbotron-heading">Chatbot</h1>
      <p class="lead text-muted text-center">
        Existen varias formas de integrar un chatbot a la web, la opciones son
        'Whatsapp', 'Telegram', 'Dialogflow', etc. Este ejemplo muestra la
        integración de chatbot con 'Meta'.
      </p>
      <img
        src="https://static.vecteezy.com/system/resources/previews/004/263/119/non_2x/meta-social-media-logo-facebook-rebranding-concept-editorial-free-vector.jpg"
        alt=""
        style="height: 400px"
      />
    </div>
    <div class="lead text-muted text-center p-5 bg-light">
      <h2>El complemento de chat admite lo siguiente:</h2>
      <div
        class="lead text-muted row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5"
      >
        <ul class="col">
          <li>Mensajes de texto</li>
          <li>Vídeo/Imagen/Audio/GIF</li>
          <li>Botones de devolución</li>
          <li>Botones de URL</li>
        </ul>
        <ul class="col">
          <li>Botones de llamada</li>
          <li>Respuestas rápidas de texto</li>
          <li>Número de teléfono del usuario Respuestas rápidas</li>
        </ul>
        <ul class="col">
          <li>Respuestas rápidas de correo electrónico del usuario</li>
          <li>Acciones del remitente</li>
          <li>Menú persistente</li>
        </ul>
      </div>
      <!-- Más información en la <a href="https://developers.facebook.com/docs/messenger-platform/discovery/facebook-chat-plugin/?locale=es_LA">documentación</a> -->
    </div>
    <div class="lead text-muted mt-5 p-5">
      <h2>Antes de empezar</h2>
      <p class="mt-5">
        Se necesita una página relacionada con
        <a
          href="https://developers.facebook.com/micro_site/url/?click_from_context_menu=true&country=PE&destination=https%3A%2F%2Fbusiness.facebook.com%2Flatest%2Fhome&event_type=click&last_nav_impression_id=1MZKePKdP5HdRDzUi&max_percent_page_viewed=22&max_viewport_height_px=876&max_viewport_width_px=1680&orig_http_referrer=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fmessenger-platform%2Fdiscovery%2Ffacebook-chat-plugin%2F%3Flocale%3Des_LA&orig_request_uri=https%3A%2F%2Fdevelopers.facebook.com%2Fajax%2Fpagelet%2Fgeneric.php%2FDeveloperNotificationsPayloadPagelet%3Ffb_dtsg_ag%3D--sanitized--%26data%3D%257B%2522businessUserID%2522%253Anull%252C%2522cursor%2522%253Anull%252C%2522length%2522%253A15%252C%2522clientRequestID%2522%253A%2522js_19y%2522%257D%26__usid%3D6-Trcitft1pxkvhr%253APrcitfq1m5o327%253A0-Arcitfta05ckf-RV%253D6%253AF%253D%26locale%3Des_LA%26jazoest%3D24812&region=latam&scrolled=false&session_id=02zatHtp7jnq4rOmv&site=developers"
          >Meta Business Suite</a
        >
      </p>
      <p>
        Una vez ahí, en la <strong>--> bandeja de entrada</strong> aparecerán 5
        pestañas, debemos ir a <strong>--> Plugin de chat</strong> y
        <a href="" class="btn btn-primary">Configurar</a>
      </p>
      <p>
        * Se debe tener un dominio válido para que funcione y luego copiar el
        código despues de la etiqueta Body
      </p>
    </div>
  </section>
</div>
