button {
  margin-top: 2em;
  font-size: 1em;
  color: white;
  padding: 9px 35px;
  background-color: rgb(243, 112, 64);
  border: none;
}
button:hover {
  background: rgb(255, 86, 74);
  background: linear-gradient(
    90deg,
    rgba(255, 86, 74, 1) 0%,
    rgba(245, 186, 3, 1) 100%
  );
}
