@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.btn-dark:hover {
  background-color: rgb(94, 93, 93);
  border-style: none;
}
.btn-secondary {
  background-color: rgb(163, 163, 163);
  border-color: rgb(163, 163, 163);
}
.btn-secondary:hover {
  background-color: rgb(94, 93, 93);
  border-style: none;
}
.btn-light:hover {
  background-color: rgb(180, 180, 180);
  color: white;
}

.container h2 {
  font-size: 2.5em;
  background-image: url("../src/assets/img/adorno.png");
  background-repeat: no-repeat;
  background-size: 20%;
  padding-bottom: 0.5em;
}

@media screen and(max-width:480px) {
  .container h2 {
    background-size: 60%;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(255, 86, 74);
  color: linear-gradient(
    90deg,
    rgba(255, 86, 74, 1) 0%,
    rgba(245, 186, 3, 1) 100%
  );
}
.card img {
  height: 20em;
  object-fit: cover;
}
